:root {
    --border-radius: 20px;
    --border: 0.25px solid rgb(255, 255, 255);
    --shadow: 10px 10px 20px rgba(187, 187, 187, 0.4);

    --font: 'Quicksand', 'sans-serif';
    --font-size: 40pt;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: var(--font);

    background-image: linear-gradient(
        to bottom right,
        #74ebd5 50%, 
        #9face6 100%);
}

.images {
    max-height: 60%;
}

.mainContainer {
    height: 100vh;
    width:  80%;
}

header {
    min-height: 15%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.searchElement {
    display: flex;
    align-items: center;
}

input {
    height: 2rem;
    min-width: 20rem;
    border: 1px solid rgb(127, 127, 127);
    border-radius: 10px;

    font-size: medium;
    padding: 8px;
}

.mainTitle {
    cursor: pointer;
}

#btnSearch {
    height: 2rem;
    width: 2rem;
    margin-left: 1rem;
    background-color: transparent;
    border: var(--border);
    border-radius: var(--border-radius);

    cursor: pointer;
}

.informationContainer {
    width: 100%;
    height: 50rem;

    padding: 3rem 3rem 0 3rem;
}

.cityInfo {
    width: 100% ;
    height: 30%;

    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    background: linear-gradient(
        to bottom right,
        rgba(255, 255, 255, 0.1),
        rgba(255, 255, 255, 0.7));
    box-shadow: var(--shadow);
    border: var(--border);
    border-radius: var(--border-radius);
}

.appTitle {
    padding-bottom: 1rem;
}

section {
    display: flex;
    justify-content: space-between;
    margin-top: 6rem;
}

.infoCard {
    width: 30%;
    height: 20rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: linear-gradient(
        to bottom right,
        rgba(255, 255, 255, 0.2),
        rgba(255, 255, 255, 0.9));
    border: var(--border);
    border-radius: var(--border-radius);

    font-size: large;
}

#errorMessageToast {
    visibility: hidden;
    width: 200px;
    text-align: center;

    padding: 10px;
    border-radius: 5px;
    border: 0.1px solid black;

    position: absolute;
    right: 40px;
    bottom: 40px;

    background-color: #74ebd5;
    color: black;
}

#errorMessageToast.show {
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
    from {right: 0; opacity: 0;}
    to {right: 40px; opacity: 1;}
}

@keyframes fadeout {
    from {right: 40px; opacity: 1;}
    to {right: 0; opacity: 0;}
}

#illustrationDesignerText {
    display: flex;
    justify-content: center;

    margin-top: 4rem;

    font-size: small;
}

/* COLOR RESULTS */

.scoreTitle {
    padding-bottom: 4rem;
}

.finalScore{
    font-size: var(--font-size);
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 100px;
    width: 100px;
    height: 100px;
}

.veryBadScore {
    color: purple;
    background-color: rgba(221, 221, 221, 0.52);
}
.badScore {
    color: red;
    background-color: rgba(221, 221, 221, 0.52);
}
.mediumScore {
    color: orange;
    background-color: rgba(221, 221, 221, 0.52);
}
.acceptableScore {
    color: yellow;
    background-color: rgba(221, 221, 221, 0.52);
}
.goodScore {
    color: greenyellow;
    background-color: rgba(194, 194, 194, 0.52);
}
.veryGoodScore {
    color: rgb(10, 101, 10);    
    background-color: rgba(194, 194, 194, 0.52);
}