:root {
    --border-radius: 20px;
    --border: 0.25px solid rgb(255, 255, 255);
    --shadow: 10px 10px 20px rgba(187, 187, 187, 0.4);

    --font: 'Quicksand', 'sans-serif';
    --font-size: 40pt;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: var(--font);

    background-image: linear-gradient(
        to bottom right,
        #076585, 
        #FFFFFF);
}

.images {
    height: auto;
    width: 80%;
}


@media screen and (min-width: 700px) {

    .mainContainer {
        width: 90%;
    }

    header {
        display: flex;
        flex-direction: column;
    
        max-width: 80%;
        margin: 0 auto;
    }

    .searchElement {
        display: flex;
        align-items: center;
    }
    
    input {
        height: 2rem;
        width: 10rem;
        border: 1px solid rgb(127, 127, 127);
        border-radius: 10px;
    
        font-size: medium;
        padding: 8px;
    }
    
    .mainTitle {
        cursor: pointer;
    }
    
    #btnSearch {
        height: 2rem;
        width: 2rem;
        margin-left: 1rem;
        background-color: transparent;
        border: var(--border);
        border-radius: var(--border-radius);
    
        cursor: pointer;
    }

    .informationContainer {
        width: 100%;
    }

    .cityInfo {
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    
        background: linear-gradient(
            to bottom right,
            rgba(255, 255, 255, 0.1),
            rgba(255, 255, 255, 0.7));
        box-shadow: var(--shadow);
        border: var(--border);
        border-radius: var(--border-radius);
    }
    
    .appTitle {
        padding-bottom: 1rem;
    }

    section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 3rem;
    }

    .infoCard {
        width: 30%;
        height: 20rem;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
        background: linear-gradient(
            to bottom right,
            rgba(255, 255, 255, 0.2),
            rgba(255, 255, 255, 0.9));
        border: var(--border);
        border-radius: var(--border-radius);
    
        font-size: large;
    }
}


.mainContainer {
    height: 100vh;
    width:  80%;
}

header {
    min-height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.informationContainer {
    height: 50rem;
    padding: 3rem 3rem 0 3rem;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 6rem;
}



#errorMessageToast {
    visibility: hidden;
    width: 200px;
    text-align: center;

    padding: 10px;
    border-radius: 5px;
    border: 0.1px solid black;

    position: absolute;
    right: 40px;
    bottom: 40px;

    background-color: #74ebd5;
    color: black;
}

#errorMessageToast.show {
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
    from {right: 0; opacity: 0;}
    to {right: 40px; opacity: 1;}
}

@keyframes fadeout {
    from {right: 40px; opacity: 1;}
    to {right: 0; opacity: 0;}
}

#illustrationDesignerText {
    display: flex;
    justify-content: center;

    margin-top: 4rem;

    font-size: small;
}




/* COLOR RESULTS */

.scoreTitle {
    padding-bottom: 4rem;
}

.finalScore{
    font-size: var(--font-size);
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 100px;
    width: 100px;
    height: 100px;
}

.veryBadScore, .badScore, .mediumScore, .acceptableScore, .goodScore, .veryGoodScore {
    background-color: rgba(221, 221, 221, 0.52);
}

.veryBadScore {
    color: #800080;
    border-color: #800080;
}
.badScore {
    color: #ff0000;
    border-color: #ff0000;
}
.mediumScore {
    color: #ffa500;
    border-color: #ffa500;
}
.acceptableScore {
    color: #ffff00;
    border-color: #ffff00;
}
.goodScore {
    color: #adff2f;
    border-color: #adff2f;
}
.veryGoodScore {
    color: #0a650a;
    border-color: #0a650a;
}